html, body {
    font-family: 'Roboto mono';
    height: 99%;
}

body {
    background-color: rgb(84, 83, 94);
}

#scrambleArea {
    font-family: monospace;
    font-size: 25px;
    background-color: goldenrod;
    border-radius: 4px;
    padding: 2px;
    margin-bottom: 1em;
    text-align: center;
}

#timer {
    background-color: seagreen;
    border-radius: 4px;
    font-family: monospace;
    text-align: center;
    width: 50%;

    margin-right: auto;
    margin-left: auto;
}

#time {
    font-size: 70px;
}

#analysisArea {
    background-color: deepskyblue;
    width: 50%;
    margin: 0 auto;
    border-radius: 4px;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
}