html, body {
    font-family: 'Roboto mono';
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: rgb(84, 83, 94);
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#scrambleArea {
    font-family: monospace;
    font-size: 25px;
    background-color: goldenrod;
    border-radius: 4px;
    padding: 2px;
    margin-bottom: 0.5em;
    text-align: center;
}

#timer {
    background-color: seagreen;
    border-radius: 4px;
    font-family: monospace;
    text-align: center;
    width: 50%;

    margin: 0.5em auto;
}

#time {
    font-size: 70px;
}

.analysisArea {
    background-color: deepskyblue;
    padding: 4px;
    height: 60%;
    border-radius: 4px;
    font-family: monospace;
    font-size: 20px;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
}

.analysisBox {
    border-radius: 4px;
}

#historyArea {
    background-color: brown;
    overflow-y: auto;
    padding: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 60px;
    gap: 4px;
}

.history {
    margin: 0;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.4);
}

#statsArea {
    background-color: darkorange;
}